@import "../../assets/styles/master";

.editor__root {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24);
	display: grid;
	font-size: 18px;
	grid-row: 2;
	grid-template-rows: auto 1fr;
	grid-template-columns: 100%;
	max-width: $breakpoint-large;
	height: 100%;
	width: 100%;

	&:focus {
		box-shadow: 0 3px 6px rgba(255, 255, 255, 0.5);
	}

	.isFocused {
		box-shadow: 0 0 0 3px #b4d5ff;
		transition: box-shadow 0.1s ease-in-out;
		will-change: box-shadow;
	}

	.code {
		background-color: rgb(32, 32, 32);
		color: #37d0ff;
		line-height: 2.5rem;
		padding: 6px 10px;
		position: relative;
		white-space: pre-wrap;
		&::before {
			color: #fff;
			content: "code";
			font-size: 11px;
			left: 5px;
			line-height: 10px;
			padding: 0;
			position: absolute;
			top: 1px;
		}
	}

	.custom {
		color: #888;
		cursor: pointer;
		text-transform: capitalize;
		text-align: center;
		transition: transform 0.1s ease-in;
		will-change: transform;
		&:hover {
			transform: translateY(-2px);
		}
		&.table-button:hover {
			transform: none;
		}

		&[data-active] {
			color: #0063fd;
		}
	}

	.editor {
		min-height: 40vh;
		padding: 1.5rem;
	}

	.image {
		max-width: 100%;
	}

	.menu {
		align-items: center;
		border-bottom: 1px solid rgb(204, 204, 204);
		color: #555;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
		gap: 2rem 1rem;
		justify-content: space-around;
		padding: 2rem 0.5rem;
		user-select: none;
	}

	.noparse {
		background-color: #f3f3f3;
		line-height: 2.5rem;
		padding: 5px 10px;
		position: relative;
		white-space: pre-wrap;
		&::before {
			background-color: #fff;
			content: "no-parse";
			font-size: 11px;
			left: 5px;
			line-height: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}
	}

	.spoiler {
		background-color: #222;
		color: #999;
		display: block;
		line-height: 2.5rem;
		padding: 5px 10px;
		position: relative;
		margin: 5px 0;
		&:hover {
			color: #fff;
		}
		&::before {
			background-color: #fff;
			color: #fff;
			content: "spoiler";
			font-size: 11px;
			left: 5px;
			line-height: 0;
			padding: 0;
			position: absolute;
			top: 10px;
		}
	}

	.table {
		border-collapse: collapse;
		margin: 15px 0;
		width: 100%;
		& td {
			border: 1px solid #696969;
			padding: 2px;
			text-align: center;
		}
	}

	.table-button {
		.table-dropdown {
			background: rgba(255, 255, 255, 1);
			border: 1px solid #666666;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24);
			color: #000;
			left: 50%;
			top: 200%;
			margin: auto;
			opacity: 0;
			pointer-events: none;
			padding: 0.5rem 1rem;
			position: absolute;
			transform: translateX(-50%);
			transition: opacity 0.3s ease-in-out;
			will-change: opacity;
			width: 30vw;
			max-width: 300px;

			.size-selector {
				background-color: $primary-color;
				border-radius: 10px;
				box-shadow: $box-shadow-small;
				color: #fff;
				padding: 0.5rem 1rem;
			}

			.grid-container {
			}

			&.show {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	.quote {
		background-color: #d1f3fc;
		border-left: 5px solid #26a5c5;
		color: #333333;
		font-style: italic;
		line-height: 2.5rem;
		margin: 5px 0;
		padding: 5px 30px;
		position: relative;
		white-space: pre-wrap;

		&::before {
			background-color: #fff;
			content: "\201C";
			color: #26a5c5;
			font-size: 2.5rem;
			font-family: Arial, Helvetica, sans-serif;
			left: 5px;
			line-height: 0;
			padding: 0;
			position: absolute;
			top: 20px;
		}
		&::after {
			color: #111;
			display: block;
			font-weight: bold;
		}
		&[data-author]::after {
			content: "- " attr(data-author);
		}
	}
}

@media only screen and (min-width: 769px) {
	.tooltip:before {
		right: inherit;
		text-align: center;
		width: initial;
		max-width: inherit;
		min-width: 100%;
	}
}
