@use "sass:color";
@use "../../assets/styles/master";

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content-root {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  justify-items: center;
  position: relative;
  row-gap: 1rem;
  padding: 2rem 1rem;

  .buttons {
    align-items: center;
    display: grid;
    font-size: 1.25rem;
    grid-row: 3;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    max-width: master.$breakpoint-large;
    width: 100%;
  }


  .markupBtn,
  .previewBtn {
    border: 1px solid rgba(2, 117, 216, 0.7);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 1%;
    max-width: 450px;
    outline: 0;
    padding: 10px 15px;
    transition: background-color 0.15s ease-out;
    will-change: background-color;
    height: 100%;
    width: 100%;
  }

  .markupBtn {
    background: rgba(0, 0, 0, 0);
    border-color: #fff;
    color: #fff;
    justify-self: flex-end;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      border-color: #fff;
    }
    &:active {
      background: master.$tertiary-color;
      color: master.$secondary-color;
    }
  }

  .previewBtn {
    background: master.$primary-color;
    color: #fff;
    justify-self: flex-start;
    &:hover {
      background: color.adjust(master.$primary-color, $lightness: 8%);
    }
    &:active {
      background: color.adjust(master.$primary-color, $lightness: 14%);
    }
  }

  .showHelp {
    display: none;
  }
}

@media only screen and (max-width: master.$breakpoint-small) {
  .main {
    row-gap: 3rem;
  }
}
