$background-color: #111a24;
$body-color: #acb2b8;
$primary-font: "Motiva Sans", "Raleway", sans-serif;

@import "../../assets/styles/master";

.preview {
	display: grid;
	grid-gap: 30px;
	grid-row: 4;
	grid-template-columns: repeat(auto-fill, minmax(550px, auto));
	margin-top: 2vh;
	max-width: $breakpoint-large;
	width: 100%;

	.body {
		align-items: center;
		background: #111a24;
		background: linear-gradient(to bottom, #111923, #17212e 50%);
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: auto 1fr;
		grid-row-gap: 10px;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.profile {
		color: #fff;
		display: grid;
		grid-template-columns: auto 1fr;
		font-size: 3.1em;
		position: relative;
		padding-right: 1rem;

		.details {
			color: #c1dbf4;
			font-size: 1rem;

			.username {
				font-size: 1.1rem;
				font-weight: bold;
				margin: 0;
			}

			.sampleDetail {
				margin: 0;
				font-size: 0.8rem;
			}
		}
	}

	.content {
		grid-column: 2;
		grid-row: 2;
		font-size: 15px;
		padding-right: 1rem;

		& a {
			color: #ebebeb;
			text-decoration: underline;
			&:hover {
				color: #fff;
			}
		}
		& blockquote {
			border: 1px solid #56707f;
			border-radius: 3px;
			display: grid;
			margin: 20px;
			padding: 20px 12px;
			position: relative;
			word-break: break-word;
			&[data-author]::before {
				content: "Originally posted by ";
				font-size: 11px;
				font-style: italic;
				text-align: right;
				margin-right: 5px;
				grid-column: 1/2;
				position: absolute;
				top: 5px;
			}
			&[data-author]::after {
				content: attr(data-author) ": ";
				font-size: 11px;
				font-weight: bold;
				position: absolute;
				margin-left: 32%;
				top: 5px;
			}
		}
		& h1 {
			color: #5aa9d6;
			font-size: 18px;
		}
		& table {
			border-collapse: collapse;
			& td {
				border: 1px solid #4d4d4d;
				padding: 5px;
				text-align: center;
			}
		}
	}

	.code {
		border: 1px solid #535354;
		border-radius: 3px;
		margin: 20px;
		padding: 12px;
		white-space: pre-wrap;
	}

	.heading {
		background-image: url("../../assets/img/rule.png");
		background-position: bottom left;
		background-repeat: no-repeat;
		color: #fff;
		font-size: 17px;
		font-weight: 300;
		letter-spacing: 2px;
		line-height: 26px;
		margin: 0 0 10px;
		text-transform: uppercase;
	}

	.markup {
		color: $body-color;
		display: grid;
		grid-template-rows: auto 1fr;
		font-family: $primary-font;
		font-size: 1rem;
		line-height: 1.7rem;
		white-space: pre-line;
		overflow: hidden;
	}

	.markupBody {
		background: #111a24;
		background: linear-gradient(to bottom, #111923, #17212e 50%);
		color: #f4f4f4;
		font-family: monospace;
		margin: 0;
		padding: 1.5rem;
		white-space: pre-wrap;
	}

	.middle {
		align-self: center;
	}

	.notRec {
		background-image: url("../../assets/img/thumbsDown.png");
		background-repeat: no-repeat;
	}

	.rec {
		background-image: url("../../assets/img/thumbsUp.png");
		background-repeat: no-repeat;
	}

	.recTitle {
		display: block;
		line-height: normal;
	}

	.stats {
		background-color: rgba(0, 0, 0, 0.2);
		color: #d6d7d8;
		cursor: pointer;
		display: grid;
		font-size: 16px;
		font-weight: 500;
		column-gap: 1rem;
		grid-template-columns: auto 1fr auto;
		grid-template-rows: auto;
		padding-right: 1rem;
	}

	.subtext {
		color: #a1adba;
		display: block;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 300;
		font-size: 12px;
		line-height: 1.3rem;
		opacity: 0.6;
	}

	.store {
		@extend .markup;
	}

	/* Styles for Preview Elements */
	.spoiler {
		background-color: #000;
		color: #000;
		display: inline-block;
		padding: 0 3px;
		&:hover {
			color: #fff;
		}
	}

	@media only screen and (min-width: 768px) {
		.stats {
			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}
		}
	}

	@media only screen and (max-width: 1179px) {
		.body {
			grid-template-columns: 100%;
			grid-template-rows: auto auto 1fr;
			padding: 1rem;

			.content {
				grid-column: auto;
				grid-row: auto;
			}
		}
	}
}
