.root {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000;
}
.main {
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 6px 12px rgba(0, 0, 0, 0.24);
    left: 0;
    right: 0;
    top: 25vh;
    height: 50%;
    padding: 10px;
    position: absolute;
    margin: 0 auto;
    width: 50%;
}
