#closeBtn {
  float: right;
  margin: 1rem; }

#editorWindow {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -ms-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  background-color: #fff; }
  #editorWindow.active {
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); }

#editor {
  min-height: 13rem; }

.brighter {
  background-image: url("rule.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 26px;
  margin: 0 0 10px;
  text-transform: uppercase; }

.btn {
  cursor: pointer;
  border-color: #000; }

.btn-primary {
  background: #2f89bc 5%;
  background: linear-gradient(180deg, #2f89bc 5%, #17435c 95%);
  background: -webkit-linear-gradient(legacy-direction(180deg, #2f89bc 5%, #17435c 95%));
  color: #A4D7F5; }
  .btn-primary:hover {
    background: #66c0f4;
    background: linear-gradient(180deg, #66c0f4 5%, #2f89bc 95%);
    background: -webkit-linear-gradient(legacy-direction(180deg, #66c0f4 5%, #2f89bc 95%));
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3); }

.btn-success {
  background: #799905 5%;
  background: linear-gradient(180deg, #799905 5%, #536904 95%);
  background: -webkit-linear-gradient(legacy-direction(180deg, #799905 5%, #536904 95%));
  color: #D2E885; }
  .btn-success:hover {
    background: #799905;
    background: linear-gradient(180deg, #799905 5%, #536904 95%);
    background: -webkit-linear-gradient(legacy-direction(180deg, #799905 5%, #536904 95%));
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3); }

.display-4 {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #b8b6b4; }
  .display-4:hover {
    color: #eee; }

.editor-toolbar {
  text-align: center; }

.fa-inverse {
  background: #2f89bc 5%;
  background: linear-gradient(180deg, #2f89bc 5%, #17435c 95%);
  background: -webkit-linear-gradient(legacy-direction(180deg, #2f89bc 5%, #17435c 95%));
  color: black; }
  .fa-inverse.hide {
    -webkit-text-fill-color: transparent; }

.fa-lg {
  font-size: 17px !important; }

.fa-2x {
  font-size: 20px !important; }

.jumbotron {
  background-color: #171a21;
  color: #b8b6b4;
  font-variant: small-caps;
  font-family: 'Monserrat', sans-serif;
  text-shadow: 1px 1px 10px #222;
  text-align: center; }

.markup, .preview {
  background-color: #111A24;
  color: #acb2b8;
  font-family: "Motiva Sans", Sans-serif;
  font-size: 13px;
  line-height: 17px;
  white-space: pre-line; }

@media only screen and (min-width: 1200px) {
  .preview {
    min-width: 400px;
    max-width: 400px; } }
.preview {
  overflow-wrap: break-word;
  overflow: hidden; }
  .preview a {
    color: #ebebeb; }
  .preview blockquote {
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 0.8rem;
    width: 100%; }
  .preview code {
    background: transparent;
    color: #acb2b8; }
  .preview h1 {
    color: #5aa9d6;
    font-size: 15px; }
  .preview pre {
    background: transparent;
    border: 1px solid #555;
    border-radius: 5px;
    color: #acb2b8;
    padding: 0.8rem;
    width: 100%; }

.preview-container {
  background-color: #111A24; }

.preview-top {
  background-color: #111A24;
  color: #63B7E9; }
  .preview-top p {
    color: #8091a2; }
    .preview-top p.name {
      color: #c6d4df;
      font-weight: bold; }
  .preview-top .next {
    background: rgba(0, 0, 0, 0.2); }

.recommended {
  font-size: 16px;
  color: #d6d7d8; }

.spoiler {
  background: black;
  color: #aaa; }
  .spoiler:hover {
    color: #eee; }

.ql-editor {
  line-height: 1.5rem; }

a i {
  color: white; }

body {
  background: url("background.png") center top no-repeat #1B2838;
  font-family: "Motiva Sans", Sans-serif;
  font-size: 13px;
  height: 100%;
  line-height: 1.3rem;
  min-height: 100%;
  overflow-wrap: break-word; }

div.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }
div.tutorial {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  background: #e3eaef;
  background: linear-gradient(180deg, #e3eaef 5%, #c7d5e0 95%);
  background: -webkit-linear-gradient(legacy-direction(180deg, #e3eaef 5%, #c7d5e0 95%));
  background-color: #fff;
  border-radius: 10px 10px;
  font-size: 19.5px;
  line-height: 1.95rem;
  padding: 1.5rem;
  text-align: center;
  width: 66.66%; }

footer {
  background: rgba(0, 0, 0, 0.3);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-linear-gradient(legacy-direction(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%));
  color: #b8b6b4;
  line-height: 1.69rem;
  margin-top: 3rem;
  text-align: center;
  padding: 0.3rem 0; }

textarea {
  min-height: 15rem;
  min-width: 60rem;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  margin-bottom: 2rem; }

/*# sourceMappingURL=style.css.map */
