//$primary-color: #2c9eea;
//$secondary-color: #4adbcf;
//$tertiary-color: #85a5dd;

//Colours
$body-background-color: #1B2838;
$body-color: #acb2b8;
$header-background-color: #171a21;
$header-font-color: #b8b6b4;
$h1-color: #5aa9d6;
$link-color: #ebebeb;
$text-color: #eee;
$primary-button-gradient: rgba(47,137,188,1) 5%, rgba(23,67,92,1) 95%;
$secondary-button-gradient: #799905 5%, #536904 95%;

//Other
$primary-font: "Motiva Sans", Sans-serif;
$font-size: 13px;
$line-height: 1.3rem;

//Mixin for transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//Mixin for box shadows
@mixin box-shadow($args...) {
      -webkit-box-shadow: $args;
      -moz-box-shadow: $args;
      box-shadow: $args;
}

//Mixin for gradients
@mixin gradient($direction, $colorStops...) {
  @if is-direction($direction) == false {
    $colorStops: $direction, $colorStops;
    $direction: 180deg;
  }

  background: nth(nth($colorStops, 1), 1);
  background: linear-gradient($direction, $colorStops);
  background: -webkit-linear-gradient(legacy-direction($direction, $colorStops));
}

/// Test if `$value` is a valid direction
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
  $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-keyword or $is-angle;
}

#closeBtn {
  float: right;
  margin: 1rem;
}

#editorWindow {
  @include box-shadow(0 0 3px rgba( 0, 0, 0, 0.4));
  @include transition(box-shadow 0.2s ease);
  background-color: #fff;
  &.active {
    @include box-shadow(0 0 10px rgba( 255, 255, 255, 0.7));
  }
}

#editor {
  min-height: 13rem;
}

.brighter {
  background-image: url('rule.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 26px;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  border-color: #000;
}

.btn-primary {
  @include gradient(180deg, $primary-button-gradient);
  color: #A4D7F5;
  &:hover {
    @include gradient(180deg, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
    color: #fff;
    text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.3 );
  }
}

.btn-success {
  @include gradient(180deg, $secondary-button-gradient);
  color: #D2E885;
  &:hover {
    @include gradient(180deg, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
    color: #fff;
    text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.3 );
  }
}

.display-4 {
  @include transition(color 0.3s ease);
  color: $header-font-color;
  &:hover {
    color: $text-color;
  }
}

.editor-toolbar {
  text-align: center;
}

.fa-inverse {
  @include gradient(180deg, $primary-button-gradient);
  color: black;
  &.hide {
    -webkit-text-fill-color: transparent;
  }
}

.fa-lg {
  font-size: 17px !important;
}

.fa-2x {
  font-size: 20px !important;
}


.jumbotron {
  background-color: $header-background-color;
  color: $header-font-color;
  font-variant: small-caps;
  font-family: 'Monserrat', sans-serif;
  text-shadow: 1px 1px 10px #222;
  text-align: center;
}

.markup {
  background-color: #111A24;
  color: $body-color;
  font-family: $primary-font;
  font-size: 13px;
  line-height: 17px;
  white-space: pre-line;
}

@media only screen and (min-width: 1200px) {
    .preview {
      min-width: 400px;
      max-width: 400px;
    }
}

.preview {
  @extend .markup;
  overflow-wrap: break-word;
  overflow: hidden;
  & a {
    color: $link-color;
  }
  & blockquote {
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 0.8rem;
    width: 100%;
  }
  & code {
    background: transparent;
    color: $body-color;
  }
  & h1 {
    color: $h1-color;
    font-size: 15px;
  }
  & pre {
    background: transparent;
    border: 1px solid #555;
    border-radius: 5px;
    color: $body-color;
    padding: 0.8rem;
    width: 100%;
  }
}

.preview-container {
  background-color: #111A24;
}

.preview-top {
  background-color: #111A24;
  color: #63B7E9;
  & p {
    color: #8091a2;
    &.name {
      color: #c6d4df;
      font-weight: bold;
    }
  }
  & .next {
    background: rgba( 0, 0, 0, 0.2 );
  }
}

.recommended {
  font-size: 16px;
  color: #d6d7d8;
}

.spoiler {
  background: black;
  color: #aaa;
  &:hover {
    color: $text-color;
  }
}

.ql-editor {
  line-height: 1.5rem;
}

a i{
  color: white;
}

body {
  //background-color: $body-background-color;
  background: url('background.png') center top no-repeat $body-background-color;
  font-family: $primary-font;
  font-size: $font-size;
  height: 100%;
  line-height: $line-height;
  min-height: 100%;
  overflow-wrap: break-word;
}

div {
  &.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  &.tutorial {
    @include box-shadow(0 0 3px rgba( 0, 0, 0, 0.4));
    @include gradient(180deg, #e3eaef 5%, #c7d5e0 95%);
    background-color: #fff;
    border-radius: 10px 10px;
    font-size: $font-size*1.5;
    line-height: $line-height*1.5;
    padding: 1.5rem;
    text-align: center;
    width: 66.66%;
  }
}

footer {
  @include gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
  color: $header-font-color;
  line-height: $line-height*1.3;
  margin-top: 3rem;
  text-align: center;
  padding: 0.3rem 0;
}

textarea {
    min-height: 15rem;
    min-width: 60rem;
    @include box-shadow(0px 0px 10px 3px rgba(0, 0, 0, 0.75));
    margin-bottom: 2rem;
}