.main {
    background-color: #171a21;
    color: #eee;
    cursor: default;
    font-variant: small-caps;
    text-shadow: 1px 1px 10px #222;
    text-align: center;
}

.title {
    align-items: center;
    display: flex;
    font-size: 3.5rem;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    letter-spacing: 5px;
    line-height: 3.5rem;
}
