@import "./utils.module.scss";

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.buttons {
    display: grid;
    font-size: 20px;
    grid-row-gap: 10px;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    width: 66.6%;
}

.close {
    cursor: pointer;
}

.instructions {
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    background: #e3eaef;
    background: linear-gradient(180deg, #e3eaef 5%, #c7d5e0 95%);
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 10%;
    font-size: 20px;
    line-height: 1.95rem;
    padding: 1.5rem;
    text-align: center;
    width: 66.66%;
    will-change: opacity;
    &.hiding {
        animation-name: hide;
        animation-fill-mode: forwards;
        animation-duration: 0.3s;
        animation-timing-function: ease-in;
    }
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2% 0;
    position: relative;
}

.markupBtn,
.previewBtn {
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
    max-width: 500px;
    outline: 0;
    padding: 10px 15px;
    transition: background-color 0.1s ease-out;
    will-change: background-color;
}

.markupBtn {
    background-color: rgba(0, 0, 0, 0);
    border-color: #fff;
    color: #fff;
    &:hover {
        background-color: #fff;
        color: #333;
    }
    &:active {
        background-color: #ccc;
    }
}

.previewBtn {
    background-color: rgba(2, 117, 216, 0.7);
    color: #fff;
    &:hover {
        background-color: #fff;
        color: rgba(2, 117, 216, 1);
    }
    &:active {
        background-color: #ccc;
    }
}

.showHelp {
    color: #fff;
    cursor: pointer;
    top: 2%;
    right: 2%;
    position: absolute;
}
