@import "./utils.module.scss";

.code {
    background-color: rgb(32, 32, 32);
    color: #37d0ff;
    line-height: 2.5rem;
    padding: 6px 10px;
    position: relative;
    white-space: pre-wrap;
    &::before {
        color: #fff;
        content: "code";
        font-size: 11px;
        left: 5px;
        line-height: 10px;
        padding: 0;
        position: absolute;
        top: 1px;
    }
}

.custom {
    color: #888;
    cursor: pointer;
    flex: 1;
    text-transform: capitalize;
    text-align: center;
    transition: transform 0.1s ease-in;
    will-change: transform;
    &:hover {
        transform: translateY(-2px);
    }
    &[data-active] {
        color: #0063fd;
    }
    &[reset] {
        color: tomato;
    }
}

.editor {
    padding: 1.5rem;
}

.menu {
    align-items: center;
    border-bottom: 1px solid rgb(204, 204, 204);
    color: #555;
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
    user-select: none;
}

.noparse {
    background-color: #f3f3f3;
    line-height: 2.5rem;
    padding: 5px 10px;
    position: relative;
    white-space: pre-wrap;
    &::before {
        background-color: #fff;
        content: "no-parse";
        font-size: 11px;
        left: 5px;
        line-height: 0;
        padding: 0;
        position: absolute;
        top: 0;
    }
}

.root {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24);
    font-size: 18px;
    grid-row: 2;
    margin-top: 20px;
    min-height: 20vh;
    width: 66.66%;
    &:focus {
        box-shadow: 0 3px 6px rgba(255, 255, 255, 0.5);
    }
}

.spoiler {
    background-color: #222;
    color: #999;
    display: block;
    line-height: 2.5rem;
    padding: 5px 10px;
    position: relative;
    margin: 5px 0;
    &:hover {
        color: #fff;
    }
    &::before {
        background-color: #fff;
        color: #fff;
        content: "spoiler";
        font-size: 11px;
        left: 5px;
        line-height: 0;
        padding: 0;
        position: absolute;
        top: 10px;
    }
}

.quote {
    background-color: #d1f3fc;
    border-left: 5px solid #26a5c5;
    color: #333333;
    font-style: italic;
    line-height: 2.5rem;
    margin: 5px 0;
    padding: 5px 30px;
    position: relative;
    white-space: pre-wrap;
    &::before {
        background-color: #fff;
        content: "\201C";
        color: #26a5c5;
        font-size: 2.5rem;
        font-family: Arial, Helvetica, sans-serif;
        left: 5px;
        line-height: 0;
        padding: 0;
        position: absolute;
        top: 20px;
    }
    &::after {
        color: #111;
        display: block;
        font-weight: bold;
    }
    &[data-author]::after {
        content: "- " attr(data-author);
    }
}

@media only screen and (min-width: 769px) {
    .tooltip:before {
        right: inherit;
        text-align: center;
        width: initial;
        max-width: inherit;
        min-width: 100%;
    }
}
