@import "./utils.module.scss";

.custom {
    color: #888;
    cursor: pointer;
    flex: 1;
    text-transform: capitalize;
    text-align: center;
    transition: transform 0.1s ease-in;
    will-change: transform;
    &:hover {
        transform: translateY(-2px);
    }
    &[data-active] {
        color: #0063fd;
    }
    &[reset] {
        color: tomato;
    }
}

.editor {
    padding: 1.5rem;
}

.menu {
    align-items: center;
    border-bottom: 1px solid rgb(204, 204, 204);
    color: #555;
    display: flex;
    height: 20%;
    justify-content: space-around;
    padding: 1.5rem;
    user-select: none;
}

.root {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24);
    font-size: 18px;
    margin-top: 20px;
    min-height: 20vh;

    width: 66.66%;
    &:focus {
        box-shadow: 0 3px 6px rgba(255, 255, 255, 0.5);
    }

    & pre {
        background-color: rgb(32, 32, 32);
        color: #ffffff;
        line-height: 2.5rem;
        padding: 5px 10px;
        white-space: pre-wrap;
    }
}

@media only screen and (min-width: 769px) {
    .tooltip:before {
        right: inherit;
        text-align: center;
        width: initial;
        max-width: inherit;
        min-width: 100%;
    }
}
