.root {
  align-items: center;
  background: linear-gradient(180deg, var(--overlay-panel-start) 0, var(--overlay-panel-end) 100%);
  color: var(--color-slate-500);
  display: grid;
  justify-content: center;
  line-height: 1.69rem;
  text-align: center;
  padding: 10px 0;

  & .iconRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 100px));
    justify-content: center;
    max-width: 400px;
    width: 100%;
  }

  & .icon {
    color: var(--text-inverse);
    position: relative;
  }
}
