@import "./assets/styles/master";

.root {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr minmax(150px, 180px);
    width: 100%;
    min-height: 101vh;
}

.toast {
    background: #047a08 !important;
}
