a {
    color: #0275d8;
    font-weight: bold;
}

body {
    background: url(background.png) center top no-repeat #1b2838;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    line-height: 1.3rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
