$breakpoint-small: 480px;
$breakpoint-medium: 769px;
$breakpoint-large: 1280px;

$primary-color: rgba(2, 117, 216, 0.7);
$secondary-color: rgba(0, 0, 0, 1);
$tertiary-color: rgba(255, 255, 255, 1);

$box-shadow-small:
  0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
